# Игнор.лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы находящиеся в подкаталоге tmp 
/tmp/
# ---- ФАЙЛЫ ----
# Игнорирование по типу файлы, заканчивающиеся суффиксами _old, _backup.
*_old
*_backup
# Игнорирование по типу файлы, Thumbs.db и .DS_Store
Thumbs.db
.DS_Store
